.hoard {
  max-height: 30em;
  width: auto;
  user-select: none;
  cursor: pointer;
}

.hoard-room {
  background-image: url(https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/e464d4a1-72fa-4fb8-97f6-abc35db6bd39_scaled.jpg);
  background-size: cover;
  background-position: center;
  border: 6px inset silver;
}

.coin {
  height: auto;
  width: auto;
  max-height: 2em;
  max-width: 2em;
}

.border-main {
  border: 3px solid silver;
}

.embroidery {
  position: absolute;
  bottom: 2px;
  right: 2px;
  max-height: 5em;
  width: auto;
}

.hoard:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 15px #fcea8e);
}

.hoard:active {
  transform: scale(1.15);
}